<app-login> </app-login>
<button (click)="redirect()" class="btn btn-primary btn-sm mr-1"> Create new article </button>
<nav class="nav nav-tabs">
  <button
    *ngFor="let c of ['All', 'National', 'Economy', 'Sports', 'Technology', 'International']"
    class="nav-link"
    [class.active]="category === c"
    (click)="category = c"
    type="button"
  >
    {{ c }}
  </button>
</nav>

<div class="mt-2"></div>

<div class="my-3">
  <div class="row g-2">
    <div class="col-auto">
      <input class="form-control" placeholder="Search" [(ngModel)]="filterStr" />
    </div>
    <div class="col-auto align-self-center">
      <small class="text-muted">Showing: {{ category }}</small>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let a of articles | articleFilter : category : filterStr; trackBy: trackById"
  >
    <img [src]="'data:' + a.img_media_type + ';base64,' + a.img_data" />
    <h5>{{ a.title }}</h5>
    <p>{{ a.abstract }}</p>

    <small class="text-muted">{{ a.category }} • {{ a.update_date }}</small>
  </li>
</ul>
