<form #articleForm="ngForm" (ngSubmit)="submitArticle()">
  <div class="form-group">
    <label> Title : </label>
    <input
      appHighlight
      class="form-control"
      type="text"
      required
      [(ngModel)]="article.title"
      name="tarticle"
      #tarticle="ngModel"
      [ngClass]="
        tarticle.valid && (tarticle.touched || tarticle.dirty)
          ? 'valid-input'
          : tarticle.invalid && (tarticle.touched || tarticle.dirty)
          ? 'invalid-input'
          : ''
      "
    />
    <div class="alert alert-danger" *ngIf="tarticle.touched && !tarticle.valid">
      <div *ngIf="tarticle.errors && tarticle.errors['required']">Title is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label> Subtitle : </label>
    <input
      appHighlight
      class="form-control"
      type="text"
      required
      [(ngModel)]="article.subtitle"
      name="sarticle"
      #sarticle="ngModel"
      [ngClass]="
        sarticle.valid && (sarticle.touched || sarticle.dirty)
          ? 'valid-input'
          : sarticle.invalid && (sarticle.touched || sarticle.dirty)
          ? 'invalid-input'
          : ''
      "
    />
    <div class="alert alert-danger" *ngIf="sarticle.touched && !sarticle.valid">
      <div *ngIf="sarticle.errors && sarticle.errors['required']">Subtitle is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label> Abstract : </label>
    <input
      appHighlight
      class="form-control"
      type="text"
      required
      [(ngModel)]="article.abstract"
      name="aarticle"
      #aarticle="ngModel"
      [ngClass]="
        aarticle.valid && (aarticle.touched || aarticle.dirty)
          ? 'valid-input'
          : aarticle.invalid && (aarticle.touched || aarticle.dirty)
          ? 'invalid-input'
          : ''
      "
    />
    <div class="alert alert-danger" *ngIf="aarticle.touched && !aarticle.valid">
      <div *ngIf="aarticle.errors && aarticle.errors['required']">Abstract is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label> Category : </label>
    <select
      class="form-control"
      aria-placeholder="Select category"
      required
      [(ngModel)]="article.category"
      name="carticle"
      #carticle="ngModel"
      [ngClass]="
        carticle.valid && (carticle.touched || carticle.dirty)
          ? 'valid-input'
          : carticle.invalid && (carticle.touched || carticle.dirty)
          ? 'invalid-input'
          : ''
      "
    >
      <option value="" disabled>Select category</option>
      <option
        *ngFor="let c of ['All', 'National', 'Economy', 'Sports', 'Technology', 'International']"
        [value]="c"
      >
        {{ c }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="carticle.touched && !carticle.valid">
      <div *ngIf="carticle.errors && carticle.errors['required']">Category is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label> Image : </label>
    <input
      type="file"
      (change)="onFileSelected($event)"
      required
      #imageInput="ngModel"
      name="image"
      ngModel
    />
    <div class="alert alert-danger" *ngIf="imageInput.touched && !imageInput.valid">
      <div *ngIf="imageInput.errors && imageInput.errors['required']">Image is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label> Body: </label>
    <angular-editor
      [(ngModel)]="article.body"
      [config]="editorConfig"
      name="barticle"
      #barticle="ngModel"
    ></angular-editor>
  </div>
  <div class="text-right">
    <button class="btn btn-primary btn-sm mr-1" type="submit" [disabled]="!articleForm.valid">
      Submit article
    </button>
    &nbsp;
    <button class="btn btn-primary btn-sm mr-1" type="button" (click)="clear()">Reset form</button>
    &nbsp;
    <button class="btn btn-primary btn-sm mr-1" type="button" (click)="goBack()">Back</button>
  </div>
</form>
